apiVersion: v1
clusters:
- cluster:
    server: https://{{ kubernetes_apiserver_elb }}:6443
    certificate-authority: ./ca.pem
  name: api 
contexts:
- context: 
    namespace: {{ item }}
    user: namespaceuser
    cluster: api
  name: api
current-context: api
kind: Config
preferences: {}
users:
- name: namespaceuser
  user:
    client-certificate: ./cluster-namespace-{{ item }}-admin.pem
    client-key: ./cluster-namespace-{{ item }}-admin-key.pem

